<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BMIcalculationConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename='E:\My 2-2\RAD\RAD Asg\New one\Activity11-21\Activity11\Activity1\BMIcalculation.mdf';Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>

</configuration>
